# Archivos de entorno
.env
.env.local
env.example

# Dependencias
node_modules/

# Configuración
package-lock.json
package.json
next.config.js
tailwind.config.js
tsconfig.json

# Código fuente y base de datos
src/
prisma/
