/***
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: Tipografía
 *  - Version: 4.0.0
 */

/* Montserrat-SemiBold */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

/* Montserrat-Medium */
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

/* WorkSans-Regular */
@font-face {
	font-family: 'WorkSans-Regular';
	src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

/* Montserrat-Bold */
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

/* WorkSans-Regular */
@font-face {
	font-family: 'WorkSans-Bold';
	src: url('../assets/fonts/Work_Sans/static/WorkSans-Bold.ttf');
}

/* Montserrat-MediumItalic */
@font-face {
	font-family: 'Montserrat-MediumItalic';
	src: url('../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

/* WorkSans-Medium */
@font-face {
	font-family: 'WorkSans-Medium';
	src: url('../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

html {
	font-size: 100%; /* 100% = 16px */
}

.h1-tipografia-govco,
.h2-tipografia-govco,
.h3-tipografia-govco,
.h4-tipografia-govco,
.h5-tipografia-govco,
.h6-tipografia-govco {
  font-family: Montserrat-SemiBold;
  color: #000000;
}

.h1-tipografia-govco {
  font-size: 40px;
  line-height: 3rem;
}

.h2-tipografia-govco {
  font-size: 32px;
  line-height: 2.875rem;
}

.h3-tipografia-govco {
  font-size: 24px;
  line-height: 2.25rem;
}

.h4-tipografia-govco {
  font-size: 20px;
  line-height: 1.875rem;
}

.h5-tipografia-govco {
  font-size: 18px;
  line-height: 1.688rem;
}

.h6-tipografia-govco {
  font-size: 16px;
  line-height: 1.5rem;
}

/* textos */
.text1-tipografia-govco {
  font-family: Montserrat-Medium;
  color: #000000;
  line-height: 1.875rem;
  font-size: 20px;
}

.text2-tipografia-govco {
  font-family: WorkSans-Regular;
  color: #000000;
  line-height: 1.5rem;
  font-size: 16px;
}

.text3-tipografia-govco {
  font-family: WorkSans-Regular;
  color: #000000;
  line-height: 1.313rem;
  font-size: 14px;
}

.text1-tipografia-govco.bold-tipografia-govco {
  font-family: Montserrat-Bold;
}

.text2-tipografia-govco.bold-tipografia-govco,
.text3-tipografia-govco.bold-tipografia-govco {
  font-family: WorkSans-Bold;
}

.italic-tipografia-govco {
  font-family: Montserrat-MediumItalic;
}

/* Enlaces */
.link-tipografia-govco {
  font-family: WorkSans-Medium;
  color: #3366CC;
  line-height: 1.375rem;
  font-size: 15px;
}

.link-tipografia-govco:hover {
  color: #004884;
}

.link-tipografia-govco:focus-visible {
  color: #004884;
  outline: max(0.125rem, 0.125rem) solid #707070;
  outline-offset: max(0.313rem, 0.313rem);
  border-radius: 1.875rem;
}

.link-tipografia-govco:visited {
  color: #4B4B4B;
}

.link-tipografia-govco[aria-disabled="true"] {
  color: #737373;
  pointer-events: none;
}
