

.titulo-tabla {
    text-align: center;
    margin-bottom: 15px !important;
}

.checkout-tabla {
    display: none!important;
}

/* estilos del contenedor */
.contenedor-tabla {
    width: 1088px;
    margin: 0 auto;
}

.encabezado-tabla {
    background: #004884;
    width: 100%;
}


/* estilos generales de la tabla */
.table-general {
    border: 2px solid #E6EFFD !important;
    opacity: 1;
    font-family: 'Works sans', sans-serif;
    width: 100% !important;
}

.table-general thead th {
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 0px;
}

.table-general thead th:nth-child(1) {
    padding-left: 20px;
}

.table-general thead tr:nth-child(1) {
    width: 1088px !important;
    border-style: none !important;
}

.table-general thead th:nth-child(1) {
    width: 5%;
}

.table-general thead th:nth-child(2) {
    width: 30%;
}

.table-general thead th:nth-child(3) {
    width: 15%;
}

.table-general thead th:nth-child(4) {
    width: 50%;
}

.table-general tbody td {
    padding-left: 15px;
    padding-right: 0px;
}

.table-general tbody td:nth-child(1) {
    padding-left: 20px;
    padding-right: 0px;
}

.table-general tbody td:nth-child(3){
    text-align: right;
}

.table-general thead tr th {
    vertical-align: top !important;
    background: #E6EFFD;
    color: #004884;
    text-align: left !important;
    height: 71px !important;
    font-family: 'Works sans', sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
    border-bottom: none;
}
 

.table-general tbody {
    overflow-y: auto;
    width: 100%;
    max-height: 394px;

} 


/* estilos del scroll */
.table-general tbody::-webkit-scrollbar {
    width: 8px;
    background: #E6EFFD;
    border-radius: 12px;
    opacity: 1;
}

.table-general tbody::-webkit-scrollbar-thumb {
    background: #004884;
    border-radius: 12px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 21px;
}

/* estilos del checkbox */
.table-general input[type="checkbox"]+label {
    color: #4B4B4B;
    font-size: 1rem;
  }
  
  .table-general input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: #004884;
    height: 20px;
    width: 20px;
    border: 3px solid #004884;
    transform: translateY(-0.075em);
    border-radius: 0.25rem;
    display: inline-grid;
    place-content: center;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.25em;
    position: relative !important;
    opacity: 1 !important;
  }
  
  .table-general input[type="checkbox"]:checked::after {
    content: "";
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 3px;
    width: 7px;
    height: 13px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  
  .table-general input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    pointer-events: auto!important;
  }
  
  .table-general input[type="checkbox"]:checked {
    background-color: #004884;
  }
  
  .table-general input[type="checkbox"]:focus-visible {
    outline: max(0.125rem, 0.15em) solid #000000;
    outline-offset: max(0.125rem, 0.15em);
  }
  
  .table-general input[type="checkbox"]:disabled {
    border: 0.188rem solid #737373;
  }
  
  .table-general input[type="checkbox"]:checked:disabled {
    background-color: #737373;
  }
  
  .table-general input[type="checkbox"]:disabled+label {
    color: #737373;
  }


/* estilos del tbody */
.contenido-tablas {
    color: #4b4b4b;
    font-family: "Work sans", sans-serif;
    font-size: 14px;
    text-align: left;
}

.contenido-tablas td {
    height: 65px;
    vertical-align: middle !important;
}

.contenido-hover tr:hover,
.table-general:not(.table-acentuada) tbody.contenido-hover tr:nth-child(even):hover {
    background: #FFAB001A!important;
}

.fila-activa tr:active,
.table-general:not(.table-acentuada) tbody.fila-activa tr:nth-child(even):active {
  background: #FFAB001A!important;
}


 /*-------------------------------------------------------------------------------------*/
/* Estilos Tablas Anidadas */

.table-externa {
    border: 2px solid #E6EFFD !important;
    opacity: 1;
    font-family: 'Works sans'sans-serif;
    width: 100% !important;
}

.table-externa thead th{
    padding-top: 14px;
    padding-left: 20px;
}

.table-externa thead th:nth-child(1){
    width: 5%;
}
.table-externa thead th:nth-child(2){
    width: 30%;
}
.table-externa thead th:nth-child(3){
    width: 15%;
}
.table-externa thead th:nth-child(4){
    width: 50%;
}

.table-externa tbody td:nth-child(3){
    text-align: right;
}

.table-externa tbody td:nth-child(1) {
    padding-left: 20px;
}
.table-externa tbody td {
    padding-left: 15px;
}

.encabezado-tabla-externa {
    vertical-align: top !important;
    background: #E6EFFD;
    color: #004884;
    text-align: left !important;
    height: 71px !important;
    font-family: 'Works sans', sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
}
.contenedor-tabla-interna {
    background: #F6F8F9;
}

.caption-1 {
    color: #004884;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    margin-left: 29px;
    margin-top: 15px;
    padding-bottom: 0px !important;
    display: block;
    margin-bottom: 0.5rem;
}

.caption-2 {
    color: #4b4b4b;
    font-size: 16px;
    font-family: "Work sans", sans-serif !important;
    margin-left: 29px;
}
.encabezado-tabla-interna {
    color: #004884;
    width: 80%;
    text-align: left !important;
    height: 71px !important;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
    padding-left: 29px !important;
}

.table-interna {
    background: #F6F8F9;
    width: 98%;
}

.table-interna thead th{
    padding-left: 15px;
}

.table-interna thead th:nth-child(1) {
    width: 5%;
    padding-left: 20px;
    padding-right: 0px;
}

.table-interna thead th:nth-child(2) {
    width: 20%;
}
.table-interna thead th:nth-child(3) {
    width: 15%;
}
.table-interna thead th:nth-child(4) {
    width: 60%;
}

.table-interna tbody tr,
.table-interna tbody td {
    background-color: #F6F8F9;
    padding: 10px 18px;
}

.table-interna thead tr th,
.table-interna tbody tr td {
    border-bottom: 1px solid #bababa;
}

/* estilo para foundation*/
.table-externa tbody tr:nth-child(even) {
    border-color: inherit!important;
  }
  
  table.table-externa thead, table.table-externa tbody {
    border: 0;
  }
  
  /* estilo en foundation*/
  .table-externa:not(.table-acentuada) tbody tr:nth-child(even) {
    background-color: #F6F8F9!important;
  }

  .table-externa input[type=checkbox]+label {
    margin: 0!important;
  } 

  .caption-2 {
    font-weight: initial!important;
  }
  
  /* estilo para materialize*/
  .table-externa tr.contenedor-tabla-interna > td,
  .table-externa tr.contenedor-tabla-interna .table-interna {
    padding-bottom: 0;
    margin-bottom: 0;
  }

/* estilos del checkbox tablas anidadas */
.table-externa input[type="checkbox"]+label {
    color: #4B4B4B;
    font-size: 1rem;
  }
  
  .table-externa input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: #004884;
    height: 20px;
    width: 20px;
    border: 3px solid #004884;
    transform: translateY(-0.075em);
    border-radius: 0.25rem;
    display: inline-grid;
    place-content: center;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.25em;
    position: relative !important;
    opacity: 1 !important;
  }
  
  .table-externa input[type="checkbox"]:checked::after {
    content: "";
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 3px;
    width: 7px;
    height: 13px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  
  .table-externa input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    pointer-events: auto!important;
  }
  
  .table-externa input[type="checkbox"]:checked {
    background-color: #004884;
  }
  
  .table-externa input[type="checkbox"]:focus-visible {
    outline: max(0.125rem, 0.15em) solid #000000;
    outline-offset: max(0.125rem, 0.15em);
  }
  
  .table-externa input[type="checkbox"]:disabled {
    border: 0.188rem solid #737373;
  }
  
  .table-externa input[type="checkbox"]:checked:disabled {
    background-color: #737373;
  }
  
  .table-externa input[type="checkbox"]:disabled+label {
    color: #737373;
  }
  


/*-------------------------------------------------------------------------------------*/
/*Encabezado*/

.table-encabezado {
    border: 2px solid #E6EFFD !important;
    opacity: 1;
    font-family: 'Works sans'sans-serif;
    width: 100% !important;
}

.table-encabezado thead tr th {
    vertical-align: top !important;
    background: #E6EFFD;
    color: #004884;
    text-align: left !important;
    height: 71px !important;
    font-family: 'Works sans'sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
    border-bottom: none;
}

.table-encabezado thead th {
    padding-top: 14px;
    padding-left: 20px;
}

.table-encabezado thead th:nth-child(1){
    width: 5%;
    padding-right: 0px;
}
.table-encabezado thead th:nth-child(2){
    width: 30%;
    padding-left: 15px;
    padding-right: 0px;
}
.table-encabezado thead th:nth-child(3){
    width: 15%;
    padding-left: 15px;
    padding-right: 0px;
}
.table-encabezado thead th:nth-child(4){
    width: 50%;
    padding-left: 15px;
    padding-right: 0px;
}

.table-encabezado tbody td {
    padding-left: 15px;
    padding-right: 0px;
    vertical-align: middle !important;
}

.table-encabezado tbody td:nth-child(1) {
    padding-left: 20px;
}

.table-encabezado tbody td:nth-child(3){
    text-align: right;
}

/* estilo para foundation*/
.table-encabezado tbody tr:nth-child(even) {
  border-color: inherit!important;
}

/* estilo en foundation*/
.table-encabezado:not(.table-acentuada) tbody tr:nth-child(even) {
  background-color: transparent!important;
}

/* estilos del checkbox tablas encabezado */
.table-encabezado input[type="checkbox"]+label {
    color: #4B4B4B;
    font-size: 1rem;
  }
  
  .table-encabezado input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: #004884;
    height: 20px;
    width: 20px;
    border: 3px solid #004884;
    transform: translateY(-0.075em);
    border-radius: 0.25rem;
    display: inline-grid;
    place-content: center;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.25em;
    position: relative !important;
    opacity: 1 !important;
  }
  
  .table-encabezado input[type="checkbox"]:checked::after {
    content: "";
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 3px;
    width: 7px;
    height: 13px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  
  .table-encabezado input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    pointer-events: auto!important;
  }
  
  .table-encabezado input[type="checkbox"]:checked {
    background-color: #004884;
  }
  
  .table-encabezado input[type="checkbox"]:focus-visible {
    outline: max(0.125rem, 0.15em) solid #000000;
    outline-offset: max(0.125rem, 0.15em);
  }
  
  .table-encabezado input[type="checkbox"]:disabled {
    border: 0.188rem solid #737373;
  }
  
  .table-encabezado input[type="checkbox"]:checked:disabled {
    background-color: #737373;
  }
  
  .table-encabezado input[type="checkbox"]:disabled+label {
    color: #737373;
  }

/*------------------------------------------------------------------------------------*/
/* Estilos Pie de pagina */
.table-normal {
    border: 2px solid #E6EFFD !important;
    opacity: 1;
    font-family: 'Works sans', sans-serif;
    width: 100% !important;
}

.table-normal caption {
    font-size: 14px;
    color: #4b4b4b;
    font-family: "Work sans", sans-serif !important;
}

.table-normal thead tr th {
    vertical-align: top !important;
    background: #E6EFFD;
    color: #004884;
    text-align: left !important;
    height: 71px !important;
    font-family: 'Works sans', sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
}

.table-normal thead th {
    padding-top: 14.31px;
    padding-left: 15px;
}

.table-normal thead th:nth-child(1) {
    padding-left: 20px;
}

.table-normal tbody td {
    padding-left: 15px;
}

.table-normal tbody td:nth-child(1) {
    padding-left: 20px;
}

.table-normal tbody td:last-child {
    padding-right: 20px;
}
.table-normal tfoot td {
    padding-left: 15px;
}

.table-normal tfoot td:nth-child(1) {
    padding-left: 20px;
}

.table-normal tfoot td:last-child {
    padding-right: 20px;
}
.table-normal tbody tr td {
    border-bottom: 2px solid #E6EFFD;
}
.table-normal tbody {
    overflow-y: auto;
    width: 100%;
    max-height: 394px;
}

.contenido-tablas-normal {
    color: #4b4b4b;
    font-family: "Work sans", sans-serif;
    font-size: 14px;
    text-align: left;
}

.contenido-tablas-normal td {
    height: 65px;
    vertical-align: middle !important;
}

.table-normal tfoot tr {
    height: 65px;
    border-top: none !important;
    background: #bababa;
    font-family: "Work sans", sans-serif;
    font-size: 14px;
    text-align: left;
}

.table-normal tfoot {
    border-style: none;
}

.table-normal tfoot td:nth-child(1){
    text-align: left;
    
}
.table-normal tfoot td {
    text-align: right;
}

.table-normal tbody td:nth-child(1){
    text-align: left;
}

.table-normal tbody tr:last-child {
    border-style: none !important;
}
.contenido-tablas-normal {
    text-align: right;
}

.table-normal thead th:nth-child(1) {
    width: 250px;
}

/* estilo para foundation*/
.table-normal tbody tr:nth-child(even) {
  border-color: inherit!important;
}

/* estilo en foundation*/
.table-normal:not(.table-acentuada) tbody tr:nth-child(even) {
  background-color: transparent!important;
}

.table-normal tfoot td, .table-normal caption {
  font-weight: initial!important;
}

/* estilo en materialize*/
.table-normal td {
  text-align: unset;
}

/*---------------------------------------------------------------------------------------*/
/*Estilos de tablas leyenda*/
.table-normal td, .table-normal th {
    border: none!important;
  }

/* estilo para foundation*/
.table-normal tbody tr:nth-child(even) {
border-color: inherit!important;
}

/* estilo en foundation*/
.table-normal:not(.table-acentuada) tbody tr:nth-child(even) {
background-color: transparent!important;
}

/* estilo en materialize*/
.table-normal td {
  text-align: unset;
}

/*---------------------------------------------------------------------------------------*/
/*Estilos de tablas adaptativos*/

.table-adaptativo {
    width: 362px !important;
    border: 2px solid #E6EFFD !important;
    opacity: 1;
    font-family: 'Works sans', sans-serif;
}

.table-adaptativo thead th {
    border-style: none !important;
}

.table-adaptativo thead th:nth-child(1) {
    width: 20%;
}

.table-adaptativo thead th:nth-child(2) {
    width: 25%;
}

.table-adaptativo thead th:nth-child(3) {
    width: 15%;
}

.table-adaptativo thead th:nth-child(4) {
    width: 25%;
}

.table-adaptativo thead tr th {
    vertical-align: top !important;
    background: #E6EFFD;
    color: #004884;
    height: 71px !important;
    font-family: 'Works sans', sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
}

.contenido-adaptativo {
    color: #4b4b4b;
    font-family: "Work sans", sans-serif;
    font-size: 14px;
    text-align: center;
}

.table-adaptativo thead th {
    padding-top: 14.31px;
    padding-left: 15px;
    text-align: left;
    padding-right: 0px;
}

.table-adaptativo thead th:nth-child(1) {
    padding-left: 20px;
}

.table-adaptativo tbody td {
    padding-left: 15px;
    text-align: left;
    padding-right: 0px;
}

.table-adaptativo tbody td:nth-child(1) {
    padding-left: 20px;
}

.table-adaptativo tbody td:last-child {
    padding-right: 20px;
}

.table-adaptativo tbody td:nth-child(3){
    text-align: right;
}
.contenido-adaptativo td {
    height: 65px;
    vertical-align: middle !important;
}

/*----------------------------------------------------------------------------------*/
/* Estilo tablas modelo responsivo */

.table-response {
    width: 362px !important;
    border: 2px solid #E6EFFD !important;
    opacity: 1;
    font-family: 'Works sans', sans-serif;
}

.table-response tbody th {
    padding-top: 14.31px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.table-response tbody td {
    padding-top: 14.31px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.table-response tbody tr:nth-child(4n) {
    border-bottom: 2px solid #E6EFFD;
}

.table-response tr th {
    color: #004884;
    text-align: left !important;
    font-family: 'Works sans', sans-serif !important;
    letter-spacing: 0px;
    font-size: 16px;
}

.table-response tr th:nth-child(1) {
    width: 180px;
    height: 16px;
}

.table-response tr td {
    font-family: 'Works sans', sans-serif !important;
    letter-spacing: 0px;
    font-size: 14px;
}

/* estilo para foundation*/
.table-response tbody tr:nth-child(even) {
  border-color: inherit!important;
}

/* estilo en foundation*/
.table-response:not(.table-acentuada) tbody tr:nth-child(even) {
  background-color: transparent!important;
}

/* estilo en materialize*/
.table-response tr {
  border-bottom: 0;
}

/* estilo para foundation*/
.table-general tbody tr:nth-child(even) {
  border-color: inherit!important;
}

/* estilo en foundation*/
.table-general:not(.table-acentuada) tbody tr:nth-child(even) {
  background-color: transparent!important;
}

/* estilo para tablas asentuadas en foundation*/
.table-acentuada tbody tr:nth-child(even){
  background-color: #F6F8F9!important;
}

/* estilo en foundation*/
.table-general input[type=checkbox]+label {
  margin: 0!important;
}
